html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}

body {
    text-align: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 12% 5% 74% 5% 4%;
    height: 100%;
    opacity: 0.8;
}

h1 {
    font-size: 3em;
    margin-top: 1%;
    padding: 0;
}

p {
    font-weight: bold;
    padding: 2%;
}

img {
    height: 300px;
    width: auto;
}

header {
    grid-area: 1 / 1 / 2 / 4;
    background-color: whitesmoke;
    height: 100%;
}

main {
    border-radius: 5%;
    max-width: 80%;
    background: whitesmoke;
    margin: auto;
    grid-area: 3 / 2 / 4 / 3;
    height: 100%;
    width: 100%;
}

footer {
    background-color: grey;
    color: white;
    grid-area: 3 / 1 / 4 / 4;
    height: 100%;
    grid-area: 5 / 1 / 6 / 4;
}

#main {
    display: grid;
    grid-template-rows: 10% 20% 20% auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.container {
    grid-area: 2 / 1 / 3 / 2;
}

#heading {
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#wordDiv {
    grid-area: 2 / 2 / 3 / 3; 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#guessesDiv {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#winsDiv {
    grid-area:  2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#guessesRemainingDiv {
    grid-area:  3 / 3 / 4 / 4; 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#imageDiv {
    grid-area:  4 / 3 / 5 / 4;
}

#outcomeDiv {
    grid-area:  4 / 2 / 5 / 3;
    line-height: 1000%;
}

#spotifyDIv {
    grid-area:  1 / 1 / 5 / 2;
}