body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    color: white;
}

p {
    font-weight: bold;
    padding: 2%;
}

img {
    border-radius: 80%;
    border: 2px solid white;
}