body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    color: white;
}

header {
    color: white;
}

h1 {
    padding: 1%;
    font-size: 3em;
    margin-top: 1%;
}

p {
    font-weight: bold;
    padding: 2%;
}

img {
    border-radius: 10%;
    border: 2px solid white;
    height: 350px;
    width: auto;
}



#image {
  
}

#outcome {
    
}